@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, Calibri;
}

.a {
    border: 1px solid #27374D;
    border: 1px solid #202e42;
    background: #526D82;
    color: #9DB2BF;
    outline: 1px solid #DDE6ED;
}

*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-track {
    background: #DDE6ED;
}
*::-webkit-scrollbar-thumb {
    background: #27374D;
    border-radius: 3px;
}
